<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title><%- metaTitle %></title>
    <meta name="description"          content="<%- metaDescription %>" />

    <!-- Facebook meta tags-->
    <meta property="og:type"         content="website" />
    <meta property="og:title"        content="<%- metaTitle %>" />
    <meta property="og:image"        content="<%- metaImg %>" />
    <meta property="og:description"  content="<%- metaDescription %>" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="description"     content="<%- metaDescription %>" />
    <meta itemprop="image"           content="<%- metaImg %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card"        content="summary_large_image">
    <meta name="twitter:title"       content="<%- metaTitle %>">
    <meta name="twitter:description" content="<%- metaDescription %>">
    <meta name="twitter:image"       content="<%- metaImg %>">
</head>
<body >
  <!-- TODO: add fallback for actually rendering app or redirecting to app -->
  <h4>This is not for you, human.</h4>
</body>
</html>
